.owner-avatar {
    display: flex;
    align-items: center;
  }
  
  .avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }

  input[type="checkbox"] {
    width: 30px;
    height: 30px;
}

td:first-child {
    width: 30px; /* Ajusta el ancho según tus necesidades */
}